<div>
  <app-app-header></app-app-header>
  <app-nav-bar></app-nav-bar>
  <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/LiDAR-Image.png" alt="" width="100%" height="500">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="../../assets/sacromento.png" alt="" width="100%" height="500">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="../../assets/tele0.jpg" alt="" width="100%" height="500">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>   
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
</div>
<!--<router-outlet></router-outlet>-->
